@page "/booking"
@using System.Net;
@using miniProjektShelter.Shared;
@using miniProjektShelter.Client.Services;

<NavLink class="nav-link" href="pedel">
    <span class="oi oi-home" aria-hidden="true"></span> Pedel
</NavLink>


<div style="width:80%;height:400px;display:@modalHidden;position:absolute;margin-top:10%;margin-bottom:10%;margin-left:10%;margin-right:10%">
    <div class="modal-content" style="background-color:white;height:100%">

        <EditForm EditContext="@EditContext" class="row p-3"
                  OnValidSubmit="@HandleValidSubmit"
                  OnInvalidSubmit="@HandleInvalidSubmit">

            <DataAnnotationsValidator />
            

            <h2>Du er ved at booke @valgtShalterX</h2>

            <h5><strong>Navn</strong></h5>
            <InputText  @bind-Value="@CustomerBookingValidation.CostumerName" class="form-control" />
        <ValidationMessage For="@(() => CustomerBookingValidation.CostumerName)"/>

            <h5>Email</h5>
            <InputText @bind-Value="@CustomerBookingValidation.Email" class="form-control" />
        <ValidationMessage For="@(() => CustomerBookingValidation.Email)"/>


            <h5>Telefon</h5>
            <InputNumber @bind-Value="@CustomerBookingValidation.PhoneNumber" class="form-control" />
        <ValidationMessage For="@(() => CustomerBookingValidation.PhoneNumber)"/>
            <button type="submit" style="color:green">Send</button>
            <br />
            <button style="color:red" @onclick="(() => Fortryd())">Fortryd</button>
            <div>
                <input id="checkbox" type="checkbox" />
                <label for="checkbox"> Jeg accepterer <a href="#">Terms and Conditions</a>.</label>
            </div>

        </EditForm>

            
    </div>
</div>


<h1>Booking</h1>
<br />

<div>
    <div class="CustomerDropdown">
        <h4>Kommune</h4>
        <label for="lang">Vælg kommune</label><br />
        <select name="kommuneSelector" id="kommuneSelector" @bind="@selectedString" onclick="@changeShelter()">
            @foreach (var navn in KommuneList)
            {
                <option value=@navn>@navn</option>
            }
        </select>
    </div>
    <div class="CustomerDropdown">
        <h5>Dato</h5>
        <label for="lang">Indtast dato</label><br />
        <input type="date" @bind="@chosenDate" max="2025-12-31" onclick="@changeShelter()" />
    </div>
    <div class="CustomerDropdown">

        <h5>Antal overnatninger</h5> 
        <label for="lang">Vælg antal overnatninger</label><br />
        <select name="antalSelectorOvernatninger" id="antalSelectorOvernatninger" @bind="@overnatninger2Stk" onclick="@changeShelter()">
            <option value=1>1</option>
            <option value=2>2</option>
        </select>
    </div>
    <div class="CustomerDropdown">

        <h5>Antal personer</h5>
        <label for="lang">Vælg antal personer</label><br />
        <select name="antalSelectorPersoner" id="antalSelectorPersoner" @bind="@selectedAntalPersoner" onclick="@changeShelter()">
            @for (int i = 0; i < 10; i++)
            {
                <option value=@i>@i</option>
            }
        </select>
    </div>
    </div>

    <!--Hvis shelter listen er tom - vil der stå loading-->
    @if (IsDataLoaded == false)
    {
        <p><em>Loading...</em></p>
    }
    else
    {
        <table class="table">
            <thead>
                <tr>
                    <th>KommuneNavn</th>
                    <th>Navn</th>
                    <th>Beskrivelse</th>
                    <th>Antal pladser</th>
                    <th>Handicap egnet</th>
                    <th>Book</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var ShelterX in SheltersToShow)
                {

                    <tr>
                        <td>@ShelterX.Properties.KommuneNavn</td>
                        <td>@ShelterX.Properties.Navn</td>
                        <td>@ShelterX.Properties.Lang_beskrivelse</td>
                        <td>@ShelterX.Properties.Antal_pl</td>
                        <td>@ShelterX.Properties.Handicap</td>
                        <td><button hidden="@hide1" @onclick="(() => bookShelter(ShelterX))">Book</button></td>
                    </tr>
                }
            </tbody>
        </table>
    }



    @code {



    }
