@page "/pedel"
@using miniProjektShelter.Shared;
@using miniProjektShelter.Client.Services;

<NavLink class="nav-link" href="booking">
    <span class="oi oi-home" aria-hidden="true"></span> Booking
</NavLink>

<h1>Pedel side</h1>

<h4>Kommune</h4>
<label for="lang">Vælg kommune</label>
<select name="kommuneSelector" id="kommuneSelector" @bind="chosenKommune" onclick="@changeMunicipality()">
    @foreach (var navn in KommuneList)
    {
        <option value=@navn>@navn</option>
    }
</select>

<table class="table">
    <thead>
        <tr>
            <th>CostumerName</th>
            <th>BookingEmail</th>
            <th>ShelterNavn</th>
            <th>Date1</th>
            <th>Date2</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var Booking in bookingsToShow)
        {

            <tr>
                <td>@Booking.CustomerName</td>
                <td>@Booking.Email</td>
                <td>@Booking.FindShelterInList(Booking.ShelterID, SheltersList).Properties.ShelterName</td>
                <td>@Booking.Date1</td>
                <td>@Booking.Date2</td>
            </tr>
        }
    </tbody>
</table>

@code {

  


}

