@page "/pedel"
@using miniProjektShelter.Shared;
@using miniProjektShelter.Client.Services;

<NavLink class="nav-link" href="booking">
    <span class="oi oi-home" aria-hidden="true"></span> Booking
</NavLink>

<h1>Pedel side</h1>

<h4>Kommune</h4>
<label for="lang">Vælg kommune</label>
<select name="municipalSelector" id="municipalSelector" @bind="chosenMunicipal" onclick="@changeMunicipality()">
    @foreach (var municipalName in MunicipalList)
    {
        <option value=@municipalName>@municipalName</option>
    }
</select>

<table class="table">
    <thead>
        <tr>
            <th>Kunde navn</th>
            <th>Booking email</th>
            <th>Shelter navn</th>
            <th>Dato 1</th>
            <th>Dato 2</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var Booking in bookingsToShow)
        {

            <tr>
                <td>@Booking.CustomerName</td>
                <td>@Booking.CustomerEmail</td>
                <td>@Booking.FindShelterInList(Booking.BookedShelterID, SheltersList).Properties.ShelterName</td>
                <td>@Booking.BookedDate1</td>
                <td>@Booking.BookedDate2</td>
            </tr>
        }
    </tbody>
</table>
